@use '../partials/variables' as *;

$fa-font-path: "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid';

@import 'bootstrap/scss/bootstrap.scss';

body{
    background-color: $my-primary;
    color: $my-tertiary;
}