@use '../partials/variables' as *;

$fa-font-path: "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';

@import 'bootstrap/scss/bootstrap.scss';

body{
    background-color: $my-primary;
    overflow-x:visible;
}
::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track {
    background-color: $my-primary;
}
::-webkit-scrollbar-thumb {
    background: $my-tertiary; 
  }